@model startup.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/LayoutForLogin.cshtml";
    ViewBag.Title = "Registrarse";
}

<body class="FondoEdificio">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="LogoLogin">
            <img class="LogoLogin" src="~/Content/Imagenes/Security.png" />
            <p></p>
        </div>
        <div class="row fondotransparenteblanco ContenidoCentro modal-content">
            <p></p>
            <h4>Registrarse</h4>

            @Html.ValidationSummary("", new { @class = "text-danger" })
           
            <div class="form-group">

                <div class="ContenidoCentro">
                    <input placeholder="Correo" title="Ingrese un correo valido usuario@dominio.com"
                           @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">

                <div class="ContenidoCentro">
                    <input placeholder="Contraseña" title="La contraseña debe tener una letra mayúscula, una minúscula, un caracter especial, un número y que sea mayor a 6 caracteres"
                           @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">

                <div class="ContenidoCentro">
                    <input placeholder="Confirmar Contraseña" title="Confirmar la contraseña"
                           @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="ContenidoCentro">
                    <input type="submit" class="btn btn-primary BotonEstirado" value="Registrarse" />

                </div>
            </div>




        </div>
    }

</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}